@import url('https://rsms.me/inter/inter.css');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    caret-color: transparent;
    font-family: 'Inter', sans-serif;
    color: white;
    --background: #11081F;
    --light-purple: #A456F0;
}




body{
    background-color: var(--background)
}

button{
    background: none;
    border: transparent;
}

hr{
    height: 1px;
    width: 150px;
}

img{
    width: 50px;
    height: 50px;
}

.name{
    display: flex;
    color: white;
    font-weight: 500;
    letter-spacing: 0px;
    font-size: 100px;
}

.introduction{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 250px;
    padding-top: 350px;
}

.welcome{
    display: flex;
    font-size: 20px;
    color: var(--light-purple);
}

.info{
    display: flex;
}

.info p{
    padding-left: 185px;
    font-size: 20px;
    letter-spacing: 2px;
    color: var(--light-purple);
}

.links{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 400px;
    left: 1300px;
}

.icons{
    display: flex;
    padding-top: 15px;
}

.contact{
    width: 300px;
    height: 75px;
    background-color: #c186fc;
    border-radius: 30px;
    font-size: 30px;
    font-weight: 600;
    transition: all .5s ease;
    cursor: pointer;
}

.links div{
    padding-bottom: 15px;
}

.icons a{
    padding: 0px 8px;
}

.contact:hover{
    width: 345px;
    height: 86.25px;
}