@import url('https://rsms.me/inter/inter.css');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    caret-color: transparent;
    font-family: 'Inter', sans-serif;
    color: white;
    --background: #0B0513;
    --light-purple: #A456F0;
}


.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
  

li{
    list-style: none;
}

button{
    background: none;
    border: transparent;
}

hr{
    height: 1px;
    width: 150px;
}

img{
    width: 50px;
    height: 50px;
}


.links div{
    padding-bottom: 15px;
}


/* new Code */
.home_body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background)
}

.home_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.home_content{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 300px;
}

.home_introduction{
    display: flex;
    flex-direction: column;
}

.home_links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 800px;
    padding-top: 40px;
}

.home_links div{
    padding-bottom: 15px;
}


.home_nextpage{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #A456F0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    cursor: pointer;
}

.home_nextpage p{
    font-size: 50px;
}


.home_name{
    font-size: 100px;
    font-weight: 500;
    padding-left: 10px;
}


.home_welcome, .home_info p{
    color: #A456F0;
    font-weight: 700;
}

.home_info p{
    padding-left: 270px;
    letter-spacing: 1.4px;
}

.home_icons{
    display: flex;
    padding-top: 15px;
}

.home_icons a{
    padding: 0px 8px;
}

.home_contact{
    display: flex;
    height: 70px;
    width: 270px;
    background-color: #C186FC;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
}

.home_welcome{
    letter-spacing: 1.4px;
}